/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v2.0.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/*----------- Table of Contents -----------*/
/**
 * Bootstrap template
 * Globals
 * About
 * Resume
 * Portfolio
 * Blog
 * Contact
 */
/*----------- Bootstrap Template -----------*/
:root {
  --custom: #dc3545;
}

.table-custom,
.table-custom>th,
.table-custom>td {
  background-color: #f5c6cb;
}

.table-hover .table-custom:hover {
  background-color: #f1b0b7;
}

.table-hover .table-custom:hover>td,
.table-hover .table-custom:hover>th {
  background-color: #f1b0b7;
}

.btn-custom {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.btn-custom:hover {
  background-color: #c82333;
  border-color: #bd2130;
  color: #fff;
}

.btn-custom:focus,
.btn-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-custom.disabled,
.btn-custom:disabled {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.btn-custom:not(:disabled):not(.disabled):active,
.btn-custom:not(:disabled):not(.disabled).active,
.show>.btn-custom.dropdown-toggle {
  background-color: #bd2130;
  border-color: #b21f2d;
  color: #fff;
}

.btn-custom:not(:disabled):not(.disabled):active:focus,
.btn-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-outline-custom {
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-custom:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.btn-outline-custom:focus,
.btn-outline-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
  background-color: transparent;
  color: #dc3545;
}

.btn-outline-custom:not(:disabled):not(.disabled):active,
.btn-outline-custom:not(:disabled):not(.disabled).active,
.show>.btn-outline-custom.dropdown-toggle {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badge-custom {
  background-color: #dc3545;
  color: #fff;
}

a.badge-custom:hover,
a.badge-custom:focus {
  background-color: #bd2130;
  color: #fff;
}

a.badge-custom:focus,
a.badge-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  outline: 0;
}

.alert-custom {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-custom hr {
  border-top-color: #f1b0b7;
}

.alert-custom .alert-link {
  color: #491217;
}

.list-group-item-custom {
  background-color: #f5c6cb;
  color: #721c24;
}

.list-group-item-custom.list-group-item-action:hover,
.list-group-item-custom.list-group-item-action:focus {
  background-color: #f1b0b7;
  color: #721c24;
}

.list-group-item-custom.list-group-item-action.active {
  background-color: #721c24;
  border-color: #721c24;
  color: #fff;
}

.bg-custom {
  background-color: #dc3545 !important;
}

a.bg-custom:hover,
a.bg-custom:focus,
button.bg-custom:hover,
button.bg-custom:focus {
  background-color: #bd2130 !important;
}

.border-custom {
  border-color: #dc3545 !important;
}

.text-custom {
  color: #dc3545 !important;
}

a.text-custom:hover,
a.text-custom:focus {
  color: #a71d2a !important;
}

/*----------- Globals -----------*/
::-moz-selection {
  background-color: #dc3545;
  color: #fff;
}

::selection {
  background-color: #dc3545;
  color: #fff;
}

a:not(.btn) {
  color: #dc3545;
}

a:not(.btn):hover,
a:not(.btn):focus {
  color: #a71d2a;
}

.color-scheme {
  color: #dc3545;
}

.background-scheme {
  background-color: #dc3545;
}

.btn.button-scheme {
  background-color: #dc3545 !important;
  border: 1px solid #dc3545 !important;
}

.btn.button-scheme:focus {
  background-color: #a71d2a !important;
  border-color: #a71d2a !important;
  box-shadow: none !important;
}

.btn.button-outline {
  background-color: transparent !important;
  border: 1px solid #dc3545 !important;
  color: #222 !important;
}

.btn.button-outline:focus {
  background-color: rgba(34, 34, 34, 0.05) !important;
  border-color: #a71d2a !important;
  box-shadow: none !important;
}

.lightbox-wrapper .lightbox-content .section-heading.page-heading>.animated-bar {
  background-color: #dc3545;
}

/*----------  About ligthbox  ----------*/
/* About: Info */
.info-section .info-content .content-subtitle {
  color: #dc3545;
}

.info-section .info-content .content-follow li a:hover,
.info-section .info-content .content-follow li a:focus {
  color: #dc3545;
}

/* About: Services */
.services-section .single-service:hover {
  border-bottom-color: #dc3545;
}

.services-section .single-service .service-icon {
  color: #dc3545;
}

/* About: Testimonials */
.testimonials-section .single-review .review-icon {
  color: #dc3545;
}

/* About: Pricing */
.pricing-section .single-plan .plan-icon {
  color: #dc3545;
}

/*----------- Resume lightbox -----------*/
/* Resume: Resume */
.resume-section .resume-item {
  border-left-color: #dc3545;
}

.resume-section .resume-item .item-arrow:before {
  background-color: #dc3545;
}

.resume-section .resume-item .item-arrow:after {
  border-left-color: #dc3545;
}

/* Resume: Skills */
.skills-section .single-skill .skill-progress .progress-bar {
  background-color: #dc3545;
}

/*----------- Portfolio lightbox -----------*/
/* Portfolio: Portfolio */
.portfolio-section .filter-control>li:hover,
.portfolio-section .filter-control>li.tab-active {
  color: #e14f5d;
}

.portfolio-section .filter-control>li:hover:before,
.portfolio-section .filter-control>li.tab-active:before {
  background-color: #e14f5d;
}

.portfolio-section .portfolio-grid .portfolio-wrapper .item-content .content-more {
  color: #dc3545;
}

/*----------  Blog lightbox  ----------*/
/* Blog: Blog */
.blog-section .single-post .post-img .content-date {
  background-color: #dc3545;
}

/*----------  Contact Lightbox  ----------*/
/* Contact: Contact */
.contact-section .contact-form .form-group .form-control:focus {
  border-bottom: 1px solid #e4606d;
}

.contact-section .contact-info .list-info .info-icon i {
  color: #dc3545;
}